/* src/components/quantityPicker/quantityPicker.css */
.qt-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.qt-picker button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: var(--tertiary);
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.qt-picker button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.qt-picker button:hover:not(:disabled) {
    background-color: var(--tertiary-dark);
}

.qt-picker input {
    width: 50px;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid var(--border);
    border-radius: 4px;
}

.qt-picker label {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
}
