.product {
    border: 1px solid #999;
    border-radius: 4px;
    width: 200px;
    height: 350px; /* Adjust if needed */
    display: inline-block;
    margin: 10px;
    background-color: white;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.controls .btn {
    background-color: var(--tertiary);
    margin: 5px 0;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    transition: background-color 0.2s;
    width: 80%; /* Make the button wider */
}

.controls .btn:hover {
    background-color: var(--tertiary-dark);
    color: white;
}

.product:hover {
    transform: scale(1.05);
    border-color: yellowgreen;
    box-shadow: -1px 1px 4px 1px #c0c0c0;
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #999;
}

.product h5 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.product label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.total {
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    color: var(--tertiary); /* Match the button color */
}