.product {
    border: 1px solid #999;
    border-radius: 4px; 
    width: 200px; 
    height: 300px; 
    display: inline-block;
    margin: 10px; 
    background-color: white;
    text-align: center;
    overflow: hidden; /* Ensure that no content leaks out */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a nicer look */
    transition: transform 0.2s; /* Add a transition for a hover effect */
}

.product:hover {
    transform: scale(1.05); /* Slightly scale up the product on hover */
    border-color: yellowgreen;
    box-shadow: -1px 1px 4px 1px #c0c0c0;
}

.product img {
    width: 100%; /* Ensure the image fits the width of the container */
    height: 150px; /* Set a fixed height for the image */
    object-fit: cover; /* Ensure the image covers the container without stretching */
    border-bottom: 1px solid #999; /* Add a bottom border to separate the image */
}

.product h5 {
    margin: 10px 0;
    font-size: 18px; 
    font-weight: 500; 
}

.product label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}
