:root {
  --background: white;
  --border: black; 
  --primary: #68d89bff;
  --secondary: #0a2342ff;
  --tertiary: #39a0edff;
  --tertiary-dark: #317fb4; /* Define a darker shade for hover */
  --alternate: #397367ff;
  --alternate2: #85F048ff;
}

.App {
  text-align: center;
}

body, html {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background: #282c34;
  padding: 20px;
  text-align: center;
  color: white;
}

.content {
  flex: 1;
  padding: 20px;
}

.footer {
  background: #282c34;
  padding: 20px;
  text-align: center;
  color: white;
}
