:root {
  --background: white;
  --border: black; 
  --primary: #68d89bff;
  --secondary: #0a2342ff;
  --tertiary: #39a0edff;
  --tertiary-dark: #317fb4; /* Define a darker shade for hover */
  --alternate: #397367ff;
  --alternate2: #85F048ff;
}

.App {
  text-align: center;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5; 

}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.content {
  flex: 1;
  padding: 20px;
}

button {
  font-family: 'Arial, sans-serif';
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

button:hover {
  background-color: var(--tertiary-dark);
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--secondary);
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--border);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}